@model Category

<form method="post">
  <fieldset>
    <legend>Creates Category</legend>
    <div asp-validation-summary="All" class="text-danger">
      
    </div>
    <div class="form-group">
      <label asp-for="Name" class="form-label mt-4"></label>
      <input asp-for="Name" class="form-control">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="DisplayOrder" class="form-label mt-4"></label>
      <input asp-for="DisplayOrder" class="form-control">
      <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary text-end">Submit</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
      Back To List
    </a>
  </fieldset>
</form>

@section Scripts
{
  @{
    <partial name="_ValidationScriptsPartial"/>
  }
}
